
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@600;700&display=swap');


/* Shared styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
    --secondary-color: rgba(255, 66, 165, 1);
    --text-color: rgba(60, 53, 79, 1);
}
.btn-primary{
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: antiquewhite;
    cursor: pointer;
}

/* Navbar section styles */

.nav-container, .nav-menu, .nav-menu>ul {
    display: flex;
}
nav{
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    
}
.nav-container{
    padding-bottom: 20px;
    
}

.nav-logo{
    margin-left: 220px;
    margin-right: 330px;
    margin-top: 38px;
    text-align: center;
    display: flex;
}
.nav-logo>img{
    width: 80px;
    height: 40px;
    margin: 8px;
}
.nav-logo>span{
    font-size: 45px;
    font-weight: 700;
    color: var(--text-color);
}
.nav-logo>span>span{
    color: var(--secondary-color);
}
.nav-menu{
    margin-right: 240px;
    margin-top: 38px;   
}
.nav-menu>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.nav-menu>ul>li>a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
}

.follow{
    display: flex;
    width: 260px;
    height: 56px;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f3f1fa;
    margin-left: 30px;
}
.follow>img{
    width: 28px;
    height: 18px;
    cursor: pointer;
}

/* Banner section styles */
.banner-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    
}
.banner-images>img{
    width: 450px;
    height: 400px;
}
.banner-heading{
    margin-left: 110px;
    
}
.play{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 5px;
}
.goat{
    font-size: 95px;
    font-weight: 800;
    z-index: -1;
    background: linear-gradient(to right, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}
.banner-details{
    margin-bottom: 30px;
}
.banner-details>img{
   margin-top: 10px;
   margin-bottom: -8px;
   
}
.banner-details>small{
    margin-left: 10px;
    font-size: 16px;
    color: var(--text-color);
}
.btn>button{
    margin-right: 10px;
}
.btn-2{
    background-color: #4EC5F7;
}


/* Responsive styles */

/* MObile responsive */
@media screen and (max-width: 576px) {
    
    /* Navbar section styles */
    nav{
        width: auto;
    }
    .nav-container, .nav-menu, .nav-menu>ul, .nav-menu>ul{
        flex-direction: column;
    }
    .nav-container{
        margin-left: 65px;
        margin-right: 30px;
        margin-top: 30px;
    }
    .nav-logo{
        margin-left: 40px;
        
    }
    .nav-menu{
        margin-right: 40px;
        margin-top: 50px; 
          
    }
    .follow{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* Banner styles */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-images>img{
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
    }
    .banner-heading{
        margin-left: 10px;
        
    }
}


@media screen and (min-width:577px) and (max-width:960px) {
    
    .nav-container, .nav-menu, .nav-menu>ul, .nav-menu>ul{
        flex-direction: column;
    }
    nav{
        box-shadow: none;
    }
    .nav-container{
        margin-left: 65px;
        margin-right: 30px;
        margin-top: 30px;
    }
    .nav-logo{
        margin-left: 200px;
        margin-bottom: -30px;
        
    }
    .nav-menu{
        margin-right: 40px;
        margin-top: 50px; 
          
    }
    .follow{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 200px;
    }

    /* Banner styles */
    .banner-container{
        flex-direction: column;
    }
    .banner-images>img{
        width: 500px;
        height: 500px;
        margin-bottom: 50px;
    }
    .banner-heading{
        margin-left: 10px;
        
    }
}